.rodape {
    padding-top: 1.3rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0px 8px 60px -11px;
    min-width: 100%;
    max-height: 3.5rem;
    position: fixed;
    bottom: 0;
    background-color: white;
}

.lista__item {
    display: block;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    
}

.descricao__item {
    color:#838181;
    padding-top: .3rem;
}

.lista__item:hover{
    color: #69A03A;
}